body 
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
<<<<<<< HEAD
    color:rgb(25, 63, 78);
=======
    color:rgb(53, 45, 45);
>>>>>>> cabecera
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #33c;
    color: white;
    font-weight: bold;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5); 
    margin: 0;
    padding: 0,5em;
}

#cabecera #tagline

{
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container

{
    width: 70%;
    padding: lem;
    text-align: left;
    border: lpx solid #ddd;
    margin: 0 auto;
}

#container h1

{
    font-size: 20px;
}

#post
{
    padding: 1em;
}