body 
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container

{
    width: 70%;
    padding: lem;
    text-align: left;
    border: lpx solid #ddd;
    margin: 0 auto;
}

#container h1

{
    font-size: 20px;
}